* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(181 200 208 / 70%);

}

.nav-bar {
  margin: 0px;
  display: flex;
  background-color: black;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}

.left-nav * {
  padding: 5px;
  text-decoration: none;
}

.right-nav {
  display: flex;
  align-items: center;

}

.log-out {
  margin-left: 10px;
  display: flex;
}

#logOut {
  text-decoration: none;
  margin-left: 15px;
}

.user-pic {
  width: 50px;
  height: 50px;
}

.main {
  display: flex;
  height: 100%;
}

#list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}


.product-list-addUser {
  display: flex;
  width: 100%;
  flex-basis: 80%;
  flex-direction: column;

  align-content: center;
  justify-content: baseline;
}

.search-bar {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
}

#search {
  margin-right: 20px;
  background: rgb(231 235 236);
  border: 1px solid #b4b4cb;
}


.select-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  height: 5rem;
  background-color: rgb(231, 224, 224);
}

.user-title {
  margin-right: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: midnightblue;

}

#user {
  width: auto;

  text-align: center;
  padding: 2px;
  text-rendering: auto;
  cursor: pointer;
  color: midnightblue;
  font-weight: bold;
  height: 40px;
}

.order-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.item-img {
  width: 75px;
  height: 75px;
  border-radius: 15px;
}

.products-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(211, 201, 201);

}

.produts-list-title {
  margin: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}

.items-list {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.item {
  border: solid 2px #716ec363;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  background: rgb(53 149 189 / 18%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.item:hover {
  cursor: pointer;
}

.item div {
  margin-top: 5px;
  font-size: 16px;
}




.order-data {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 224, 224);

}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.order p {
  font-size: 2em;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  color: midnightblue;
}

.list_element {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

}

.item-name {

  min-width: 50px;
  margin-right: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
  align-items: center;
}

.item-input {
  display: flex;

}

.item-input * {
  margin: 5px;
}

.item-input input {
  width: 35px;
  text-align: center;
}

.item-input button {
  width: min-content;
  text-align: center;
  padding: 0;
  font-weight: bolder;
}

.deleteBtn {
  width: 25px;
  text-align: center;
  padding: 0;
  font-weight: bolder;
  background-color: rgb(228, 67, 67);
  color: bisque;

}

hr {
  border: 3px solid rgb(147, 156, 147);
  border-radius: 5px;
  width: 100%;
}

.order-details {
  font-size: 1em;
  font-weight: bolder;
  margin-top: 0.25rem;
  margin-bottom: 1.2rem;
  color: midnightblue;

}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes {
  resize: none;
  width: 75%;
  margin: 5px;
}


#room {
  min-width: 40px;
  width: auto;
  text-align: center;
  font-size: 14px;
}

.orderFooter {
  display: flex;
  flex-direction: column;
}

.confirm {
  height: 40px;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.all-items {
  display: flex;
}

.all-items .order-item {
  border: solid 2px #716ec363;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 6.7px 5.3px rgb(0 0 0 / 5%), 0 12.5px 10px rgb(0 0 0 / 6%), 0 22.3px 17.9px rgb(0 0 0 / 7%), 0 41.8px 33.4px rgb(0 0 0 / 9%), 0 100px 80px rgb(0 0 0 / 12%);
  background: rgb(53 149 189 / 18%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}